.home-container
  %h1.title TaskApp
  %h4.description Create, organize and update your task anytime, anywhere.
  = link_to "Sign up for free", new_user_registration_path, class: "btn btn-purple btn-home"