.circle-display {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.card-margin {
  margin: 20px 20px;
}

.all-task-display {
  width: 100%;
  margin: 50px 0;
}

.task-div {
  width: 33%;
  margin: 0 10px;
}

.font-bold {
  font-weight: 600;
}